{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="mymain">
    <div class="content">
    </div>
    
    <h2 class="page-header" style="text-align: center"><i>Your Donation List</i></h2>

    <div class="container mx-auto d-block">

    </div>

    <div class="container mx-auto d-block">
        <table class="table table-hover table-striped table-dark" allign="center" style="text-align: center">
            <thead>
                <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Donation Ammount</th>
                </tr>
            </thead>
            <tbody id="donation-table-body">
            {% if user.is_authenticated %}
                {% for donator in donators %}
                    <tr>
                        <td scope="row">{{ donator.program.program_name }}</td>
                        <td scope="row">{{ donator.donation_amount|intcomma }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td scope="row" colspan="2">no data</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            url: "{% url 'get-name' %}",
            success: function(r) {
                var data = r;
                for (subs_data in data) {
                    $('#donation-table-body').append('<tr><td scope="row">'
                                                    + subs_data.name + '</td><td scope="row">'
                                                    + subs_data.jumlah
                                                    + '</td></tr>');
                }
            }
        })
    }
</script>

{% endblock content %}