html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: "Segoe UI";
  background-color: beige;
  margin-bottom: 125px;
}

#navbar {
  overflow: hidden;
  font-weight: bold;
  display: flex;
}

.flex-start-container {
  display: flex;
  justify-content: flex-start;
}

.flex_center_container {
  display: flex;
  justify-content: center;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a {
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.welcome {
  font-size: 35px;
  text-align: center;
}
.content {
  font-size: 20px;
  text-align: center;
  color: #444;
}

.mymain {
  padding-top: 50px;
}

.about_us {
  font-style: oblique;
  font-size: 35px;
  text-align: center;
}

.be_a_donator,
.about_us__content {
  font-size: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.be_a_donator__content {
  color: #888;
  font-size: 15px;
  text-align: center;
}

.donator_registration {
  flex: 1;
  background-color: #0070ba;
  max-width: 50%;
  padding: 30px;
}

.footer {
  width: 100%;
  background-color: #f5f5f5;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  max-height: 120px;
}

.rainbow {
  animation: 50s cubic-bezier(0.645, 0.045, 0.355, 1) -4.5s infinite rainbow;
}

@keyframes rainbow {
  0%,
  3% {
    background-color: #5b564c;
  }
  15%,
  9% {
    background-color: #3e4b59;
  }
  21%,
  28% {
    background-color: #683043;
  }
  34%,
  40% {
    background-color: #9fa617;
  }
  46%,
  53% {
    background-color: #e3b430;
  }
  59%,
  65% {
    background-color: #e37f1c;
  }
  72%,
  79% {
    background-color: #97341b;
  }
  85%,
  91% {
    background-color: #457389;
  }
  100%,
  97% {
    background-color: #5b564c;
  }
}

.box_padded5 {
  padding: 4.5em 9%;
}

.button_green {
  color: #acb319;
}
