{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'silverlight/home.css'%}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="         crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

</head>

<body>
    <header>
        <nav class="navbar sticky-top navbar-light bg-light">
            <div style="display:flex; justify-content: flex-start; align-items:center; ">
                <img src="{% static 'silverlight/logo.png' %}" style="max-width:30px; max-height:30px; margin-right:10px">
                <a class="navbar-brand" href="#">SinarPerak</a>
                <div id="navbar">
                    <div class="flex-start-container">
                        <a href="/">Home</a>
                        <a href="/news">News</a>
                        <a href="/be-a-donator">Be A Donator!</a>
                        <a href="/testimoni">Testimoni</a>
                        {% if user.is_authenticated %}
                            <a href="/list-donation">List Donation</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div style="display:flex; justify-content: flex-end; align-items:center;">
                {% if user.is_authenticated %}

                    <p style="margin: 0px;">
                        Welcome, <b>{{ request.session.display_name }}</b>
                    </p>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ request.session.image_url }}" />
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/profile">My Profile</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'social:begin' 'google-oauth2' %}">
                    <img src="https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png"/>
                    </a>
                {% endif %}
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="container">
            <div style="display: flex; justify-content:flex-start; align-items:center; margin-left:5px">
                <img src="{% static 'silverlight/logo.png' %}" style="max-width:30px; max-height:30px; margin-right:10px">
                <a class="navbar-brand">SinarPerak</a>
                <a style="color: grey">Visit Us!</a>
            </div>
            <div style="display:flex; ">
                <div style="margin: 10px;text-indent: -12px; margin-left: 30px;">
                    <i class="fa fa-envelope" style="color: #ef9da3"></i>
                    <a href="mailto:silverlight@microsoft.com" style="color: black;">silverlight@microsoft.com</a>
                </div>
                <div style="margin: 10px;text-indent: -12px; margin-left: 30px;">
                    <i class="fa fa-phone" style="color: #ef9da3" aria-hidden="true"></i>
                    <a href="mailto:silverlight@microsoft.com" style="color: black;">+6281234567890</a>
                </div>
                <div style="margin: 10px;text-indent: -12px; margin-left: 30px;">
                    <i class="fa fa-flag" style="color: #ef9da3" aria-hidden="true"></i>
                    <a href="mailto:silverlight@microsoft.com" style="color: black;">Fasilkom UI, Depok, Jawa
                        Barat</a>
                </div>
                <div style="flex:1; display: flex; justify-content: flex-end;">
                    <div style="margin: 10px;text-indent: -12px; margin-left: 30px;">
                        <a href="#" style=" color: black;">Refund Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>