{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mymain">
        <div class="welcome">
            <img src="{% static 'silverlight/logo.png' %}" style="max-width:200px" />
            <br>
            <b>Welcome to SinarPerak!</b>
        </div>
        <div class="content">
            <p>
                A nonprofit crowdfunding organization
            </p>
        </div>
        <div class="about_us">
            <p>
                About us
            </p>
        </div>
        <div class="about_us__content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec velit sollicitudin, porttitor
                turpis a, rutrum erat. Nam pretium gravida velit, in hendrerit purus ullamcorper vel. Pellentesque
                habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris in dui non
                velit imperdiet bibendum rhoncus non sem. Nam bibendum nisi posuere nunc mollis sagittis. Donec
                fringilla nisi non diam lobortis, in rhoncus erat ornare. Vestibulum ante ipsum primis in faucibus orci
                luctus et ultrices posuere cubilia Curae; Aenean lobortis dui vitae condimentum accumsan.
            </p>
        </div>
        <br>
        <div class="be_a_donator">
            <p>
                Be A Donator Today !
            </p>
        </div>
        <div class="be_a_donator__content">
            <p>
                Dukungan dari Anda sangat berarti bagi yang membutuhkan.
            </p>
        </div>
        <div style="display:flex; justify-content:center;">
            <button type="button" class="btn btn-primary"><a href="/news" style="color:white">Donate now</a></button>
        </div>
        <br>
        <div style="display:flex; justify-content:center;">
            <img src="{% static 'silverlight/thanks.png' %}" />
        </div>
        <br>
{% endblock %}
