{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

    <div class="flex_center_container rainbow box_padded5" style="width: 100%;">
        <div style="color: black; background-color:#ebeeee; margin-right: 10px; padding: 10px">
            <div style="text-align: center">
                <h3>{{ program.program_name }}</h3>
            </div>
            <br>
            <div style="text-align: center">
                <h5>Campaign Target : $ {{ program.donation_goal|intcomma }}</h5>
            </div>
            <br>
            <div class="flex_center_container">
                <div class="progress" style="flex:1">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_funded}}%">
                        {{percent_funded}}% Funded
                    </div>
                </div>
            </div>
            <br>
            <h4>Latest Donation:</h4>
            {% for donator in donators %}
            <div style="display:flex;">
                <div style="flex:1">
                    <p>{{ donator.donator_name }}</p>
                </div>
                <div style="flex:1">
                    <p>$ {{ donator.donation_amount|intcomma }}</p>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="
                container" style="background-color:#ebeeee; padding: 20px;">

            <div class="flex-start-container" style="align-items:center">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="max-width:100%">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{{ program.program_image_url }}" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{ program.program_image_url }}" alt="First slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div style="margin-left:50px; border: 1px solid; padding:10px; width:100%">
                    {% if user.is_authenticated %}
                    <p style="color:black; font-weight: bold;">
                        Donasi untuk program ini
                    </p>
                    <form class="form-horizontal" method="post">{% csrf_token %}
                        <fieldset style="margin-left:10px">
                            <legend>{{ title }}</legend>
                            {% for field in form %}
                            {% if field.errors %}
                            <div class="control-group error">
                                <label class="control-label">{{ field.label }}</label>
                                <div class="controls">{{ field }}
                                    <span class="help-inline">
                                        {% for error in field.errors %}{{ error }}{% endfor %}
                                    </span>
                                </div>
                            </div>
                            {% else %}
                            <div class="control-group">
                                <label class="control-label">{{ field.label }}</label>
                                <div class="controls">{{ field }}
                                    {% if field.help_text %}
                                    <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </fieldset>
                        <div class="form-actions" style="margin-top: 10px;margin-left: 10px;">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <div style="display:flex; justify-content: center; align-items:center; ;padding: 10px;">
                            <i class="fas fa-lock"></i>
                            <small id="emailHelp" class="form-text text-muted" style="margin-left:10px">Data anda
                                dijamin aman, kita menggunakan AES-256 untuk segalanya</small>
                        </div>
                    </form>
                    {% else %}
                    <p style="color:black; font-weight: bold;">
                        Please Sign in First
                    </p>
                    {% endif %}
                </div>
            </div>
            <p style="font-weight: bold">
                Summary
            </p>
            <p>
                {{ program.program_description }}
            </p>
        </div>
    </div>
{% endblock %}


