{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mymain">
    <div class="content">
        <p>
            A nonprofit crowdfunding organization
        </p>
    </div>

    <div class="jumbotron">
        <div class="container-fluid">
            <h1 class="page-header" style="text-align: center">About SinarPerak</h1>
            <p><b>SinarPerak adalah organisasi yang bergerak untuk mengumpulkan <br>
            dana dan disalurkan kepada mereka yang membutuhkan</b></p>
        </div>
    </div>

    <div class="container mx-auto d-block" style="padding-top: 50px;">
        {% if status %}
            <table class="table table-hover table-striped table-dark" allign="center" style="text-align: center" id="testimoni-table">
                <thead>
                    <tr>
                        <th scope="col">Testimoni</th>
                        <th scope="col">Waktu</th>
                        <th scope="col">Nama</th>
                    </tr>
                </thead>
                {% for data in status %}
                <tr>
                    <td scope="row">{{ data.testimoni }}</td>
                    <td scope="row">{{ data.created_at|date:"l" }}, {{ data.created_at }}</td>
                    <td scope="row">{{ request.session.display_name }}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <h1 class="text-main">Yuk, katakan sesuatu tentang kami!</h1>
        {% endif %}
    </div>


    <div class="container mx-auto d-block">
        {% if user.is_authenticated %}
        <form class="form-block" action="{% url 'testimoni:add-testimoni' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form }}
            </div>
            <button type="submit" id="input_button" class="btn btn-primary">Berikan Testimoni!</button>
        </form>
        {% endif %}
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function()){
        $('#testimoni-table').DataTable({
            ajax : {
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                url: "{% url 'testimoni:get-name' %}",
                dataSrc: 'subscribers',
            }
        })
    }

    $('#subscriber-table').on('click', 'td .unsubscribe', function () {
                var subscriberId = $(this).attr('data-id');
                $.ajax({
                    url: unsubscribeURL,
                    method: 'POST',
                    type: 'json',
                    data: {'subscriber_id': subscriberId},
                }).then(function () {
                   $('#subscriber-table').DataTable().ajax.reload();
                });
            });

</script>
{% endblock %}