{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="display: flex; justify-content:center;text-align:center;">
        <div class="program_message" style="max-width: 40%; font-size: 1.25em; margin-top:20px">
            <p>
                Siap membantu yang membutuhkan?
            </p>
        </div>
    </div>
    <div class="card-columns" style="padding: 20px; margin: 20px">
        {% for program0 in programs0 %}
        <a href="/program/{{ program0.id }}" class=" card">
            <img class="card-img-top" src="{{ program0.program_image_url }}" alt=" Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ program0.program_name }}</h5>
                <p class="card-text">{{program0.program_description}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="card-columns" style="padding: 20px; margin: 20px">
        {% for program1 in programs1 %}
        <div class="card">

            <img class="card-img-top" src="{{ program0.program_image_url }}" alt=" Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ program1.program_name }}</h5>
                <p class="card-text">{{program1.program_description}}</p>
            </div>

        </div>
        {% endfor %}
    </div>
    <div style="display: flex; justify-content:center">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
{% endblock %}

